@model Template.BL.Models.DepartmentVM

@{
    ViewBag.Title = @Localizer["Create"];
}


<br />

<a asp-controller="Department" asp-action="Index" class="btn btn-primary">@Localizer["Back To Data"]</a>

<br />

<center>
    <h2>@Localizer["Create new Department"]</h2>
</center>


<form asp-controller="Department" asp-action="Create" class="form-group">

    <div asp-validation-summary="All" class="text-danger validationSummary"></div>


    <label asp-for="DepartmentName">@Localizer["Name"]</label>
    <input type="text" class="form-control" asp-for="DepartmentName" />
    <span asp-validation-for="DepartmentName" class="text-danger"></span>
    <br />

    <label asp-for="DepartmentCode">@Localizer["Code"]</label>
    <input type="text" class="form-control" asp-for="DepartmentCode" />
    <span asp-validation-for="DepartmentCode" class="text-danger"></span>
    <br />

    <center>
        <input type="submit" class="btn btn-primary" value="@Localizer["Save"]" />
        <input type="reset" class="btn btn-danger" value="@Localizer["Clare"]" />
    </center>

</form>


@section MicrosoftValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section Summary {
    <script>
        setTimeout(function () { $('.validationSummary').fadeOut(); }, 2000);
    </script>
}